<html>
  <head>
    <title>Personal Browser</title>
    <link rel='stylesheet' href='/css/activity_style.css' type='text/css' ></link>
    <script type="text/javascript">
      var titleText = document.title;
      function titleMarquee() {
      titleText = titleText.substring(1, titleText.length) + titleText.substring(0, 1);
      document.title = titleText;
      setTimeout("titleMarquee()", 450);
      }
    </script>
  </head>

  <body onload="titleMarquee()">

    <h1>Welcome! Here you can control all episodes from your favourite animes</h1>
    <% @new_hash.each do |anime, date| %>
    #<% new_date = Time.parse(date[0]).strftime("%m/%d/%Y") %>
    <h2><img src="<%= date[1] %>"><%= anime %> just announced the last episode on <%= new_date %> </h2>
    <% end %>
  </body>
</html>

