<html>
  <head>
    <title>Personal Browser</title>
    <link rel='stylesheet' href='/css/activity_style.css' type='text/css' ></link>
  </head>
  <body>
    <h1>Welcome! Here you can control all episodes from your favourite animes</h1>
    <h2>Hey my friend. <%= @title %> just announced the last episode on <%= @new_time %></h2>
  </body>
</html>


