<html>
  <head>
    <title>Personal Browser</title>
    <style>
      p, h1, h2, h3, h4, ul, li, a, label {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #157DA6;
        text-align: center;
      }
      .centered {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h3>Create a new activity!</h3>
    <h4><a href='/'>All Activities</a></h4>
    <%# a form that can create a new restaurant %>
<form action='/atividades' method='POST' class='centered'>
  <label>Descricao</label>
  <input type='text' name='descricao' required/>
  <input type='submit' value='New activity' />
</form>
  </body>
</html>
