<html>
  <head>
    <title>Personal Browser</title>
    <link rel='stylesheet' href='/css/activity_style.css' type='text/css' ></link>
  </head>
  <body>
    <h1><%= @name %>Welcome!Here are all your activies</h1>
    <ul>
      <% @atividades.each do|atividade| %>
      <li><%= atividade.created_at %></li>
       
        <%= atividade.descricao %><br/>
        <%# a link that routes to an edit activity form %>
         <a href='/atividades/<%= atividade.id %>/edit'>edit activity</a>
      <% end %>
   </ul>
    <h4><a href='/atividades/create'>Create a New Activity</a></h4>
  </body>
</html>
